<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Daftar Menu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Daftar Menu</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Daftar Menu yang Terdaftar di Sistem</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" id="add">
                        <i class="fa fa-plus"></i> Tambah Menu
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="alert-list"></div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="5%" class="text-center">No</th>
                            <th width="40%" class="text-center">
                                Nama Menu
                            </th>
                            <th width="20%" class="text-center">
                                Kategori
                            </th>
                            <th width="15%" class="text-center">
                                Harga
                            </th>
                            <th width="10%" class="text-center">
                                Status
                            </th>
                            <th width="10%" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="list-content"></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- modal add -->
<form id="form-add">
    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-add-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-add-label">Tambah Menu</h4>
                </div>
                <div class="modal-body">
                    <div id="alert-add"></div>
                    <div class="form-horizontal" id="form-add">
                        <div class="form-group">
                            <label for="nama-add" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nama-add" placeholder="Nama">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kategori-add" class="col-sm-2 control-label">Kategori</label>
                            <div class="col-sm-3">
                                <select name="kategori" id="kategori-add" class="form-control">
                                    <option value="lain">Lain - Lain</option>
                                    <option value="makanan">Makanan</option>
                                    <option value="minuman">Minuman</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="harga-add" class="col-sm-2 control-label">Harga</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="harga-add" placeholder="Harga">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status-add" class="col-sm-2 control-label">Ready ? </label>
                            <div class="col-sm-10">
                                <input type="checkbox" name="ready" id="status-add" class="checkbox-inline">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- modal edit -->
<form id="form-edit">
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit-label">
        <input type="hidden" id="menu_id">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-edit-label">Ubah Menu</h4>
                </div>
                <div class="modal-body">
                    <div id="alert-edit"></div>
                    <div class="form-horizontal" id="form-edit">
                        <div class="form-group">
                            <label for="nama-edit" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nama-edit" placeholder="Nama">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kategori-edit" class="col-sm-2 control-label">Kategori</label>
                            <div class="col-sm-3">
                                <select name="kategori" id="kategori-edit" class="form-control">
                                    <option value="lain">Lain - Lain</option>
                                    <option value="makanan">Makanan</option>
                                    <option value="minuman">Minuman</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="harga-edit" class="col-sm-2 control-label">Harga</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="harga-edit" placeholder="Harga">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status-edit" class="col-sm-2 control-label">Ready ? </label>
                            <div class="col-sm-10">
                                <input type="checkbox" name="ready" id="status-edit" class="checkbox-inline">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /.container -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        // reset
        function reset() {
            // load order aktif
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "get",
                url: "{$config->config['api_endpoint']}api/menu",
                dataType: "JSON",
                success: function(response) {
                    load_list(response.data);
                },
                error: function(response) {
                    alert(response)
                }
            });
        }
        // hit reset
        reset();
        // laod list
        function load_list(datas) {
            if (datas) {
                $("#list-content").html(``);
                datas.forEach((element, index) => {
                    $("#list-content").append(
                        `
                        <tr>
                            <td class="text-center">` +
                            (index + 1) +
                            `</td>
                            <td class="nama">` +
                            element.nama +
                            `</td>
                            <td class="kategori">` +
                            element.kategori +
                            `</td>
                            <td class="harga">` +
                            element.harga +
                            `</td>
                            <td class="status">
                                <label>
                                    <input type="checkbox" `+(element.status == 'ready' ? 'checked' : '')+` class="swap-ready" data-id="` +
                                    element.menu_id +
                                    `" />
                                        `+element.status+`
                                </label>
                            </td>
                            <td class="text-center">
                                <button
                                    type="button"
                                    class="btn btn-xs btn-warning btn-edit"
                                    data-id="` +
                            element.menu_id +
                            `"
                                >
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-xs btn-danger btn-delete"
                                    data-id="` +
                            element.menu_id +
                            `"
                                >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    `
                    );
                });
            } else {
                $("#list-content").html(`
                        <tr>
                            <td colspan="5">Belum Ada Menu</td>
                        </tr>
                    `);
            }
        }
        // hapus menu
        $(document).on('click', '.btn-delete', function(argument) {
            let id = $(this).attr('data-id');
            if (confirm('Hapus data ini?')) {
                $.ajax({
                    headers: {
                        token: session.token
                    },
                    type: "get",
                    url: "{$config->config['api_endpoint']}api/menu/delete/" + id,
                    dataType: "JSON",
                    success: function(response) {
                        // alert
                        $("#alert-list").html(
                                `
                            <div class="alert alert-success alert-dismissible">
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                                >
                                    ×
                                </button>
                                Berhasil mengahapus menu
                            </div>
                        `
                        );
                        // reset
                        reset();
                    },
                    error: function(param) {
                        alert(param)
                    }
                });
            }
        });
        // tambah
        // modal tambah
        $('#add').click(function(argument) {
            $('#modal-add').modal('show');
        })
        // proses tambah
        $('#form-add').submit(function(argument) {
            argument.preventDefault();
            // elemen
            const elem = $(this);
            elem.find('[type="submit"]').prop('disabled', true);
            // save proses
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "post",
                url: "{$config->config['api_endpoint']}api/menu/add",
                dataType: "JSON",
                data: {
                    'nama' : $('#nama-add').val(),
                    'kategori' : $('#kategori-add').val(),
                    'harga' : $('#harga-add').val(),
                    'status' : $('#status-add').prop('checked') ? 'ready' : 'not',
                    'user_id' : session.user_id,
                },
                success: function(response) {
                    // alert
                    $("#alert-list").html(
                            `
                        <div class="alert alert-success alert-dismissible">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-hidden="true"
                            >
                                ×
                            </button>
                            Berhasil menambahkan menu
                        </div>
                    `
                        );
                    // alert
                    $("#alert-add").html(``);
                    $('#modal-add').modal('hide');
                    // reset
                    reset();
                },
                error: function(response) {
                    if (
                        typeof response.responseJSON.message == "object"
                    ) {
                        $("#alert").html(``);
                        // field
                        for (const key in response.responseJSON.message) {
                            if (response.responseJSON.message[key]) {
                                $('#' + key + '-add')
                                    .closest(".form-group")
                                    .addClass("has-error");
                            } else {
                                $('#' + key + '-add')
                                    .closest(".form-group")
                                    .removeClass("has-error");
                            }
                            $('#' + key + '-add')
                                .siblings(".help-block")
                                .html(
                                    response.responseJSON.message[key]
                                );
                        }
                    } else {
                        // alert
                        $("#alert-add").html(
                                `
                            <div class="alert alert-danger alert-dismissible">
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                                >
                                    ×
                                </button>
                                ` +
                                    response.responseJSON.message +
                                    `
                            </div>
                        `
                            );
                    }
                },
                complete: function(argument) {
                    elem.find('[type="submit"]').prop('disabled', false);
                }
            });
            // return
            return false;
        })
        // ubah
        // modal edit
        $(document).on('click', '.btn-edit', function(argument) {
            console.log($(this).closest('tr').find('.status').html())
            $('#menu_id').val($(this).attr('data-id'));
            $('#nama-edit').val($(this).closest('tr').find('.nama').html());
            $('#kategori-edit').val($(this).closest('tr').find('.kategori').html());
            $('#harga-edit').val($(this).closest('tr').find('.harga').html());
            $('#status-edit').prop('checked', $(this).closest('tr').find('.status').find('[type="checkbox"]').prop('checked'));
            $('#modal-edit').modal('show');
        });
        // proses ubah
        $('#form-edit').submit(function(argument) {
            argument.preventDefault();
            // elemen
            const elem = $(this);
            elem.find('[type="submit"]').prop('disabled', true);
            // save proses
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "post",
                url: "{$config->config['api_endpoint']}api/menu/edit",
                dataType: "JSON",
                data: {
                    'nama' : $('#nama-edit').val(),
                    'kategori' : $('#kategori-edit').val(),
                    'harga' : $('#harga-edit').val(),
                    'status' : $('#status-edit').prop('checked') ? 'ready' : 'not',
                    'user_id' : session.user_id,
                    'menu_id' : $('#menu_id').val(),
                },
                success: function(response) {
                    // alert
                    $("#alert-list").html(
                            `
                        <div class="alert alert-success alert-dismissible">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-hidden="true"
                            >
                                ×
                            </button>
                            Berhasil mengubah menu
                        </div>
                    `
                        );
                    // alert
                    $("#alert-edit").html(``);
                    $('#modal-edit').modal('hide');
                    // reset
                    reset();
                },
                error: function(response) {
                    if (
                        typeof response.responseJSON.message == "object"
                    ) {
                        $("#alert").html(``);
                        // field
                        for (const key in response.responseJSON.message) {
                            if (response.responseJSON.message[key]) {
                                $('#' + key + '-edit')
                                    .closest(".form-group")
                                    .addClass("has-error");
                            } else {
                                $('#' + key + '-edit')
                                    .closest(".form-group")
                                    .removeClass("has-error");
                            }
                            $('#' + key + '-edit')
                                .siblings(".help-block")
                                .html(
                                    response.responseJSON.message[key]
                                );
                        }
                    } else {
                        // alert
                        $("#alert-edit").html(
                                `
                            <div class="alert alert-danger alert-dismissible">
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                                >
                                    ×
                                </button>
                                ` +
                                    response.responseJSON.message +
                                    `
                            </div>
                        `
                            );
                    }
                },
                complete: function(argument) {
                    elem.find('[type="submit"]').prop('disabled', false);
                }
            });
            // return
            return false;
        })
        // ganti status ready
        $(document).on('change', '.swap-ready', function(argument) {
            console.log($(this).prop('checked'))
            // elemen
            const elem = $(this);
            elem.prop('disabled', true);
            // save proses
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "post",
                url: "{$config->config['api_endpoint']}api/menu/update_status",
                dataType: "JSON",
                data: {
                    'status' : elem.prop('checked') ? 'ready' : 'not',
                    'user_id' : session.user_id,
                    'menu_id' : elem.attr('data-id'),
                },
                success: function(response) {
                    // alert
                    $("#alert-list").html(
                            `
                        <div class="alert alert-success alert-dismissible">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-hidden="true"
                            >
                                ×
                            </button>
                            Berhasil mengubah status
                        </div>
                    `
                        );
                    // reset
                    reset();
                },
                error: function(response) {
                    // alert
                    $("#alert-edit").html(
                            `
                        <div class="alert alert-danger alert-dismissible">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-hidden="true"
                            >
                                ×
                            </button>
                            ` +
                                response.responseJSON.message +
                                `
                        </div>
                    `
                        );
                },
                complete: function(argument) {
                    elem.prop('disabled', false);
                }
            });
        });
    });
</script>