<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <b>Resto</b>Apps
        </div>
        <p class="login-box-msg">Login untuk masuk ke Dashboard</p>
        <div id="alert"></div>
        <form id="form-login">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <span class="fa fa-user form-control-feedback"></span>
                <span class="help-block"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <span class="fa fa-lock form-control-feedback"></span>
                <span class="help-block"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-md-offset-8 col-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#form-login').submit(function(param) {
            // elemen
            const elem = $(this);
            // prefent default
            param.preventDefault();
            elem.find('[type="submit"]').prop("disabled", true);
            // proses ajax
            $.ajax({
                url: '{$config->config["api_endpoint"]}api/login',
                type: 'post',
                dataType: 'json',
                data: { 
                    username: $('[name="username"]').val(),
                    password: $('[name="password"]').val()
                },
                success: function(response) {
                    for (const element in response.data) {
                        setCookie(element, response.data[element]);
                    }
                    // redirect
                    if (response.data['role'] == "kasir") {
                        window.location = "{$config->site_url('orderskasir')}";
                    } else {
                        window.location = "{$config->site_url('orderspelayan')}";
                    }
                },
                error: function(response) {
                    if (
                        typeof response.responseJSON.message == "object"
                    ) {
                        $("#alert").html(``);
                        // field
                        for (const key in response.responseJSON.message) {
                            if (response.responseJSON.message[key]) {
                                $('[name="' + key + '"]')
                                    .closest(".form-group")
                                    .addClass("has-error");
                            } else {
                                $('[name="' + key + '"]')
                                    .closest(".form-group")
                                    .removeClass("has-error");
                            }
                            $('[name="' + key + '"]')
                                .siblings(".help-block")
                                .html(
                                    response.responseJSON.message[key]
                                );
                        }
                    } else {
                        $("#alert").html(
                            `
                                <div class="alert alert-danger alert-dismissible">
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-hidden="true"
                                    >
                                        ×
                                    </button>
                                    ` +
                                        response.responseJSON.message +
                                        `
                                </div>
                            `
                        );
                    }
                },
                complete: function(argument) {
                    elem.find('[type="submit"]').prop("disabled", false);
                }
            });
            //return
            return false;
        })
    });
</script>