<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Daftar Pesanan Aktif
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Pesanan Aktif</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="alert-list"></div>
        <div class="row" id="list-content"></div>
    </section>
    <!-- /.content -->
</div>
<!-- /.container -->
<!-- modal edit orders -->
<form id="form-edit-orders">
    <input type="hidden" name="order_kode">
    <div class="modal fade" id="modal-edit-orders" tabindex="-1" role="dialog" aria-labelledby="modal-edit-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-edit-label">Ubah Pesanan</h4>
                </div>
                <div class="modal-body">
                    <div id="alert-edit-orders"></div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="no_meja-edit" class="col-sm-2 control-label">Nomor Meja</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="no_meja-edit" placeholder="Nomor Meja">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Daftar Pesanan</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" id="edit-orders-detail">
                                        <i class="fa fa-plus"></i> Tambah Pesanan
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="text-center">No</th>
                                            <th width="40%" class="text-center">
                                                Nama Menu
                                            </th>
                                            <th width="10%" class="text-center">
                                                Jumlah
                                            </th>
                                            <th width="20%" class="text-center">
                                                Harga
                                            </th>
                                            <th width="20%" class="text-center">
                                                Total
                                            </th>
                                            <th width="5%" class="text-center">
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="list-orders-detail-edit"></tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    // datas
    let list_data = [];
    // jquery
    jQuery(document).ready(function($) {
        // reset
        function reset() {
            // load order aktif
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "get",
                url: "{$config->config['api_endpoint']}api/trans/active",
                dataType: "JSON",
                success: function(response) {
                    load_list(response.data);
                },
                error: function(response) {
                    alert(response)
                }
            });
        }
        // hit reset
        reset();
        // laod list
        function load_list(datas) {
            // list
            if (datas) {
                $("#list-content").html(``);
                datas.forEach((element, index) => {
                    // set datas
                    list_data[element.order_kode] = element;
                    // list menu
                    let harga_pesanan = element.harga_pesanan ? element.harga_pesanan.split(',') : [];
                    let jml_pesanan = element.jml_pesanan ? element.jml_pesanan.split(',') : [];
                    let nama_pesanan = element.nama_pesanan ? element.nama_pesanan.split(',') : [];
                    let note_pesanan = element.note_pesanan ? element.note_pesanan.split(',') : [];
                    let total_pesanan = element.total_pesanan ? element.total_pesanan.split(',') : [];
                    // menu
                    let menu = ``;
                    for (var i = 0; i < harga_pesanan.length; i++) {
                        menu += 
                            `<div class="clearfix">
                                <div class="pull-left">
                                    <b>`+nama_pesanan[i]+` (`+jml_pesanan[i]+`)</b> <br>
                                    <small>`+(note_pesanan[i]?note_pesanan[i]:'-')+`</small>
                                </div>
                                <div class="pull-right">
                                    Rp `+total_pesanan[i]+`
                                </div>
                            </div>`
                            ;
                    }
                    // tambahkan elemen
                    $("#list-content").append(
                        `<div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">No. Meja</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-warning btn-sm btn-edit" data-id="`+element.order_kode+`">
                                            <i class="fa fa-pencil"></i> Ubah
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="text-center">
                                        <p style="font-size: 50px; font-weight: bold">`+element.no_meja+`</p>
                                    </div>
                                    `+menu+`
                                    <br>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <b style="font-size: 18px">Total Pesanan</b>
                                        </div>
                                        <div class="pull-right" style="font-size: 24px">
                                            Rp `+element.total+`
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>`
                    );
                });
            } else {
                $("#list-content").html(`Belum Ada Transaksi`);
            }
        }
        // load menu ready
        let menu_list = [];
        $.ajax({
            headers: {
                token: session.token
            },
            type: "get",
            url: "{$config->config['api_endpoint']}api/trans/menu_ready",
            dataType: "JSON",
            success: function(response) {
                menu_list = response.data
            },
            error: function(response) {
                alert(response)
            }
        });
        // load list menu
        function load_list_menu(selected = '-') {
            let htmls = '';
            menu_list.forEach( element => {
                htmls += `<option value="`+element.menu_id+`" data-harga="`+element.harga+`" `+(element.menu_id == selected ? "selected" : "")+`>`+element.nama+`</option>`
            });
            return htmls;
        }
        // ubah orders
        $(document).on('click', '.btn-edit', function(argument) {
            // kode
            const kode = $(this).attr('data-id');
            $('[name="order_kode"]').val(kode);
            $('#no_meja-edit').val(list_data[kode].no_meja);
            // list menu
            let menu_pesanan = list_data[kode].menu_pesanan ? list_data[kode].menu_pesanan.split(',') : [];
            let harga_pesanan = list_data[kode].harga_pesanan ? list_data[kode].harga_pesanan.split(',') : [];
            let jml_pesanan = list_data[kode].jml_pesanan ? list_data[kode].jml_pesanan.split(',') : [];
            let nama_pesanan = list_data[kode].nama_pesanan ? list_data[kode].nama_pesanan.split(',') : [];
            let note_pesanan = list_data[kode].note_pesanan ? list_data[kode].note_pesanan.split(',') : [];
            let total_pesanan = list_data[kode].total_pesanan ? list_data[kode].total_pesanan.split(',') : [];
            // loop
            let no = 1;
            for (var i = 0; i < harga_pesanan.length; i++) {
                $('#list-orders-detail-edit').append(
                    `
                    <tr>
                        <td class="text-center">` +
                        (no++) +
                        `</td>
                        <td>
                            <select class="orders-detail-menu-edit form-control"><option value=""></option>`+load_list_menu(menu_pesanan[i])+`</select>
                        </td>
                        <td>
                            <input type="number" class="form-control orders-detail-qty-edit" value="`+jml_pesanan[i]+`" min="1" />
                        </td>
                        <td class="orders-detail-harga-edit">`+harga_pesanan[i]+`</td>
                        <td class="orders-detail-subtotal-edit">`+total_pesanan[i]+`</td>
                        <td class="text-center">
                            <button
                                type="button"
                                class="btn btn-xs btn-danger btn-delete-orders" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                `
                );
            }
            // tampilkan modal
            $('#modal-edit-orders').modal('show');
        });
        // ubah orders detail
        let no = 1;
        $('#edit-orders-detail').click(function(event) {
            $('#list-orders-detail-edit').append(
                `
                <tr>
                    <td class="text-center">` +
                    (no++) +
                    `</td>
                    <td>
                        <select class="orders-detail-menu-edit form-control"><option value=""></option>`+load_list_menu()+`</select>
                    </td>
                    <td>
                        <input type="number" class="form-control orders-detail-qty-edit" value="1" min="1" />
                    </td>
                    <td class="orders-detail-harga-edit"></td>
                    <td class="orders-detail-subtotal-edit"></td>
                    <td class="text-center">
                        <button
                            type="button"
                            class="btn btn-xs btn-danger btn-delete-orders" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            `
            );
        });
        // pilih menu ordernya
        $(document).on('change', '.orders-detail-menu-edit', function(argument) {
            const option = $(this).find('option:selected');
            const parent = $(this).closest('tr');
            // ganti
            parent.find('.orders-detail-harga-edit').html(option.attr('data-harga'));
            parent.find('.orders-detail-subtotal-edit').html(option.attr('data-harga') * parent.find('.orders-detail-qty-edit').val());
        }); 
        // ubah jumlah
        $(document).on('change', '.orders-detail-qty-edit', function(argument) {
            const parent = $(this).closest('tr');
            const harga = parent.find('.orders-detail-harga-edit').html();
            // ganti
            parent.find('.orders-detail-subtotal-edit').html(harga * $(this).val());
        });
        // hapus detail orders
        $(document).on('click', '.btn-delete-orders', function(argument) {
            $(this).closest('tr').remove()
        });
        // proses tambah order
        $('#form-edit-orders').submit(function(argument) {
            argument.preventDefault();
            // elemen
            let elem = $(this);
            elem.find('[type="submit"]').prop('disabled', true);
            // parameter
            let menu = $('.orders-detail-menu-edit');
            let qty = $('.orders-detail-qty-edit');
            let harga = $('.orders-detail-harga-edit');
            let subtotal = $('.orders-detail-subtotal-edit');
            let orders = [];
            let total = 0;
            // loop
            for (var i = 0; i < menu.length; i++) {
                // total
                total += Number(subtotal.eq(i).html());
                // push
                orders.push({
                    "menu_id": menu.eq(i).val(),
                    "qty": qty.eq(i).val(),
                    "price": harga.eq(i).html(),
                    "total": subtotal.eq(i).html(),
                    "note": ""
                });
            }
            // save proses
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "post",
                url: "{$config->config['api_endpoint']}api/trans/edit",
                dataType: "JSON",
                data: {
                    'order_kode' : $('[name="order_kode"]').val(),
                    'user_id' : session.user_id,
                    'no_meja' : $('#no_meja-edit').val(),
                    'order' : JSON.stringify(orders),
                    'total' : total
                },
                success: function(response) {
                    $("#alert-list").html(`
                            <div class="alert alert-success alert-dismissible">
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                                >
                                    ×
                                </button>
                                Berhasil mengubah
                            </div>
                        `);
                    // hide model
                    $('#modal-edit-orders').modal('hide');
                    // reset
                    reset();
                },
                error: function(response) {
                    if (
                        typeof response.responseJSON.message == "object"
                    ) {
                        $("#alert-list").html(``);
                        // field
                        for (const key in response.responseJSON.message) {
                            if (response.responseJSON.message[key]) {
                                $('#' + key + '-edit')
                                    .closest(".form-group")
                                    .editClass("has-error");
                            } else {
                                $('#' + key + '-edit')
                                    .closest(".form-group")
                                    .removeClass("has-error");
                            }
                            $('#' + key + '-edit')
                                .siblings(".help-block")
                                .html(
                                    response.responseJSON.message[key]
                                );
                        }
                    } else {
                        // alert
                        $("#alert-edit-orders").html(
                                `
                            <div class="alert alert-danger alert-dismissible">
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                                >
                                    ×
                                </button>
                                ` +
                                    response.responseJSON.message +
                                    `
                            </div>
                        `
                            );
                    }
                },
                complete: function(argument) {
                    elem.find('[type="submit"]').prop('disabled', false);
                }
            });
            // return
            return false;
        })
    });
</script>