<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Riwayat Pesanan
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Riwayat Pesanan</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Daftar Pesanan Dihandle</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" id="print">
                        <i class="fa fa-print"></i> Cetak
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="alert-list"></div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="5%" class="text-center">No</th>
                            <th width="40%" class="text-center">
                                Daftar Menu
                            </th>
                            <th width="20%" class="text-center">
                                Total
                            </th>
                            <th width="15%" class="text-center">
                                No. Meja
                            </th>
                        </tr>
                    </thead>
                    <tbody id="list-content"></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.container -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        // reset
        function reset() {
            // load order history
            $.ajax({
                headers: {
                    token: session.token
                },
                type: "get",
                url: "{$config->config['api_endpoint']}api/trans/history/" + session.user_id,
                dataType: "JSON",
                success: function(response) {
                    load_list(response.data);
                },
                error: function(response) {
                    alert(response)
                }
            });
        }
        // hit reset
        reset();
        // laod list
        function load_list(datas) {
            if (datas) {
                $("#list-content").html(``);
                datas.forEach((element, index) => {
                    $("#list-content").append(
                        `
                        <tr>
                            <td class="text-center">` +
                            (index + 1) +
                            `</td>
                            <td>` +
                            element.menu +
                            `</td>
                            <td>` +
                            element.total +
                            `</td>
                            <td>` +
                            element.no_meja +
                            `</td>
                        </tr>
                    `
                    );
                });
            } else {
                $("#list-content").html(`
                        <tr>
                            <td colspan="5">Belum Ada Riwayat</td>
                        </tr>
                    `);
            }
        }
        // print
        $('#print').click(function(event) {
            window.print()
        });
    });
</script>